.Expensecontainer
{
    height: 100%;
    width: 100%;
}
.Welcomecontainer p
{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    position:absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Loading
{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes Loadinganimation
{
    0%
    {background-color: red;transform: translate(-100px,0px);opacity: 1;}
    50%
    {background-color: green;transform: translate(80px,0px);opacity: 1;}
    52%
    {opacity: 0;}
    100%
    {opacity: 0;}
}
.Membercontainer
{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.ProfileContainer
{
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    height: 140px;
    width:140px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.ProfileContainer p
{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}
.ProfileContainer:hover
{
    background-color: #2cb5e8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
    font-size: 26px;
}
.Sidebar
{
    height: 100%;
    position: absolute;
    background-color: aquamarine;
    /* //#1fc8db; */
    left: 0%;
    width:2%;
    top: 55px;
    z-index: 4;
}
.Sidebar:hover
{
    width:15%;
}
.SideIcons
{
    height: 100%;
    color:black;
    padding-top: 100px;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.SideIcons ul li
{
    color: black;
    list-style: none;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 9px;
    font-size: 20px;
}
.Itemscontainer
{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 2%;
    top: 55px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.button:hover
{
    background-color: rgb(21, 102, 24);
}
.AddItem
{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 2%;
    top: 65px;
    padding-top: 0px;
    /* background-color: #db4b1f; */
}
.AddItem .AddItemData
{
    height: auto;
    min-height: 30%;
    width: 40%;
    position: relative;
    left: 50%;
    top: 50%;
    border-radius: 9px;
    transform: translate(-50%,-50%);
    background-color: #2cb6e84b;
}
.UpdateItem
{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 2%;
    top: 65px;
    padding-top: 0px;
    /* background-color: #db4b1f; */
}
.UpdateItem .UpdateItemData
{
    height: auto;
    min-height: 30%;
    width: 40%;
    position: relative;
    left: 50%;
    top: 50%;
    border-radius: 9px;
    transform: translate(-50%,-50%);
    background-color: #20221d69;
}
.box:before
{
    content: '';
    position: absolute;
    top:-2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(315deg,#07546b,#afec06);
    z-index: -1;
    transform: skew(2deg,2deg);
}
.box
{
    background: #1d1c1c;
    color:#fff;
}
.box h1
{
    position: absolute;
    top: 240px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #ffffff29;
    transition:0.5s;
}
.outerbox:hover .box h1
{
    top:170px;
}
.box a
{
    transform: translate(0px,-100px);
    transition:0.5s;
    opacity: 0;
}
.outerbox:hover .box a
{
    transform: translate(0px,0px);
    opacity: 1;
}
.backdrop{ 


    background-color:rgba(0,0,0,0.6);
    
    
    position:fixed;
    
    
    top:0;
    
    
    left:0;
    
    
    width:100%;
    
    
    height:100vh;
    
    
    }