<div (mouseover)="hover=true" (mouseleave)="hover=false" class="ExpenseContainer">
    <div *ngIf='hover || !welcomeFlag' class="MembersContainer"[ngStyle]="{ left:memberListPos }">
        <div class="MemberList" id="member.id" (click)='MemberFunction(member.index)' [ngStyle]="{ transform : memberListTranslate[member.index]}" *ngFor="let member of membersList">{{member.id}}</div>
    </div>
    <div *ngIf='!hover && welcomeFlag' class="WelcomeContainer">Welcome To Haveli Manegement System</div>
</div>

<!-- *ngIf="hover || welcomeFlag" -->
<!-- *ngIf="!hover && welcomeFlag" -->